<script type="text/javascript" defer src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="/assets/imgs/theme/ecologo.png" class="logo" alt="Evara Dashboard">
        </a>

    </div>
    <nav>
        <ul class="menu-aside">
            <!-- <li class="menu-item <% if (title == "dashboard") { %>active<% } %>">
                <a class="menu-link" href="/admin/dashboard"> <i class ="icon material-icons md-dashboard"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li> -->
            <li class="menu-item <% if (title == "products") { %>active<% } %>">
                <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
            </li>
            <li class="menu-item <% if (title == "orders") { %>active<% } %>">
                <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
            </li>
            <li class="menu-item <% if (title == "categories") { %>active<% } %>">
                <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-description"></i>
                    <span class="text">Categories</span>
                </a>
            </li>
            <!-- <li class="menu-item <% if (title == "banners") { %>active<% } %>">
                <a class="menu-link" href=""> <i class="icon material-icons md-credit_card"></i>
                    <span class="text">Banners</span> </a>
            </li> -->
            <li class="menu-item <% if (title == "coupons") { %>active<% } %>">
                <a class="menu-link" href="/admin/coupons"> <i class="icon material-icons md-confirmation_number"></i>
                    <span class="text">Coupons</span>
                </a>
            </li>
            <li class="menu-item <% if (title == "customers") { %>active<% } %>">
                <a class="menu-link" href="/admin/customers"> <i class="icon material-icons md-people"></i>
                    <span class="text">Customers</span>
                </a>
            </li>
            <!-- <li class="menu-item <% if (title == "sales") { %>active<% } %>">
                <a class="menu-link" href=""> <i class="icon material-icons md-description"></i>
                    <span class="text">Sales Report</span>
                </a>
            </li> -->
            <!-- <li class="menu-item <% if (title == "logout") { %>active<% } %>">
                <a class="menu-link" href=""> <i class="icon material-icons md-input"></i>
                    <span class="text">Logout</span>
                </a>
            </li> -->
        </ul>
        <br>
        <br>
    </nav>
</aside>
<main class="main-wrap">
    <header class="main-header navbar ">
        <div class="col-search">
            <form class="searchform">
                <div class="input-group">
                    <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                    <button class="btn btn-light bg" type="button"> <i
                            class="material-icons md-search"></i></button>
                </div>
            </form>
        </div>
        <div>
            <a href="/admin/logout" class="btn btn-primary">Logout</a>
        </div>
    </header>
 
</main>