<div class="colorlib-loader"></div>

<div id="page">
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu m-0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-md-9">
                        <a href="/"><img src="/images/ecologo.png" width="300px"></a>
                    </div>

                    <div class="col-sm-5 col-md-3">
                        <div class="search-wrap">
                            <div class="form-group">
                                <input type="search" class="form-control search" placeholder="Search" name="search"
                                    id="searchvalue">
                                <button class="btn btn-primary submit-search text-center" type="submit"
                                    onclick="commonfunction()"><i class="icon-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-left menu-1">
                        <ul>
                            <li class="<%= title === 'Home' ? 'active' : '' %>"><a href="/">Home</a></li>
                            <li class="<%= title === 'All' ? 'active' : '' %>"><a href="/product">All Products</a></li>
                            <li class="<%= title === 'about' ? 'active' : '' %>"><a href="/about">About</a></li>
                            <li><a href="/cart"><i class="icon-shopping-cart"></i> Cart</a></li>
                            <li>
                                <a class="position-relative" href="/wishlist">
                                    <span class="icon-heart"></span>
                                    <span class="position-absolute badge bg-danger rounded text-white"
                                        id="wishlist-items-count" style="font-size: 12px;"></span>
                                </a>
                            </li>
                            <li><a href="/userprofile"><i class="fas fa-user fa-lg"></i></a></li>
                            <li id="loginbutton" hidden><a href="/login"><button class="btn btn-dark btn-sm"
                                        type="button">Login</button></a></li>
                            <li id="logoutbutton" hidden><a href="/logout"><button class="btn btn-dark btn-sm"
                                        type="button">Logout</button></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color: #B5E585; height: 30px;"></div>

    </nav>
    <script>
        const loginbutton = document.getElementById("loginbutton")
        const logoutbutton = document.getElementById("logoutbutton")
        fetch("/checkuser", {
            method: "get",
            headers: {
                "Content-Type": "application/json"
            },
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    logoutbutton.hidden = false

                } else {
                    loginbutton.hidden = false
                }
            })
            .catch(error => {
                console.error("Error:", error)
            })


        let wishlistCounter = document.getElementById('wishlist-items-count');
        // wishlistCounter.innerHTML=5

        fetch("/checkwishlist", {
            method: "get",
            headers: {
                "Content-Type": "application/json"
            },
        })
            .then(response => response.json())
            .then(data => {
                const wishlistCount = data.data;
                console.log(wishlistCount);
                wishlistCounter.textContent = wishlistCount.toString();
                wishlistCounter.hidden = wishlistCount === 0; // Hide the counter if count is zero
            })
            .catch(error => {
                console.error("Error:", error)
            });


        function commonfunction() {

            const searchvalue = document.getElementById("searchvalue").value
            window.location.href = `/product?search=${encodeURIComponent(searchvalue)}`
        }

    </script>