<!DOCTYPE HTML>
<html>

<head>
    <title>EcoLight</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include('../partials/ustylesheets') %>
</head>

<body>

    <%- include('../partials/uheader',{title:"about" }) %>

        <div class="container" style="min-height: 500px;">
            <div style="background-color: rgb(235, 235, 235); 
             padding: 10px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); margin-bottom: 20px;">
             <p style="font-size: 18px; font-weight: bold;">About Us</p> 

               <p style="font-size: 15px; font-weight:500;">EcoLight has designed, manufactured, and supplied decorative lighting for over a decade and has built its foundation on quality customer service along with in-stock products.
                
                The idea of EcoLight came into existence because we wanted an easy way for those who are looking for a vast collection of lighting products on a certain budget and also for one working as their own contractors and designers.
                
                Fos Lighting's manufacturing department includes designers and engineers to help businesses, design professionals, and retail customers to create the desired products. All work is carefully controlled and inspected from initial inquiry to packing and shipping.
                
                Our long term experience has enabled us to bring unparalleled workmanship to every project and we take great pride in the quality, materials, and craftsmanship of our products. All our light fixtures/ fittings are handcrafted and hand-finished by artisans from all over India and the Material are locally sourced most of the time. Supreme quality materials like Brass, Stainless Steel, or Aluminium are used for enhancing durability.
                
                For a personalized experience, Fos Lighting has 3 retail outlets in Faridabad, Gurugram, and Hyderabad.</p>


         </div>
           
        </div>

                <%- include('../partials/ufooter') %>
</body>

</html>